<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/images.css" class="rel">

    <div class="row">
        <h1 class="text-center">New Hiking Trail</h1>
        <div class="col-md-6 offset-md-3">
            <!-- keep all fields required, and set the form to novalidate, then bootstrap can take care of it -->
            <form action="/hikingTrails" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title: </label>
                    <!-- name="hikingTrail[title]" helps to group info -->
                    <input class="form-control" type="text" id="title" name="hikingTrail[title]" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location: </label>
                    <input class="form-control" type="text" name="hikingTrail[location]" id="location" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <!-- <div class="mb-3">
                    <label class="form-label" for="image">Image URL: </label>
                    <input class="form-control" type="text" name="hikingTrail[image]" id="image" placeholder="image url"
                        required>
                    <div class="valid-feedback">Looks good!</div>
                </div> -->
                <div class="mb-3">
                    <label class="form-label" for="length">Length: </label>
                    <div class="input-group">
                        <input class="form-control" type="text" name="hikingTrail[length]" id="length" placeholder="0"
                            aria-label="length" aria-describedby="length-label" required>
                        <span class="input-group-text" id="length-label">Miles</span>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description: </label>
                    <textarea class="form-control" type="text" name="hikingTrail[description]" id="description"
                        required></textarea>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Choose images...</label>
                    <div class="form-file custom-file">
                        <input type="file" name="images" id="images" class="form-control custom-file-input" multiple
                            onchange="previewMultiple(event)">
                        <label for="images" class="form-label custom-file-label"></label>
                    </div>
                    <div id="formFile">
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add hiking trail</button>
                </div>

            </form>
            <a href="/hikingTrails">Back</a>
        </div>
    </div>